<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="memberInfo" id="member-info" class="content-tab">
			<h3>회원 정보 수정</h3>
			<div class="member-infolist">
				<form>
					<p>이름: <input type="text" th:value="${member.memName}"></p>
			        <p>닉네임: <input type="text" th:value="${member.memNickname}"></p>
			        <p>비밀번호: <input type="password" th:value="${member.memPassword}"></p>
			        <p>이메일: <input type="text" th:value="${member.memEmail}"></p>
			        <p>전화번호: <input type="text" th:value="${member.memPhone}"></p>
			        <p>가입 날짜: <span th:text="${#temporals.format(member.memInsertAt, 'yyyy-MM-dd')}">가입 날짜</span></p>
			        <div class="dropdown">
						<label for="memAllergyFood">알러지★비선호음식 체크</label>
			        <div id="selected-allergies" class="selected-allergies"></div>
				            <div class="dropdown-content">
			                 <span th:each="allergy : ${allergyList}" class="allergy-item" th:data-id="${allergy.allergyId}">
			                       <span th:text="${allergy.allergyName}">#알러지 이름</span>
			                 </span>
			             </div>            
			        </div><br><br>
					<a th:href="@{'/memberUpdate/' + ${member.memId}}">수정</a>
					<a th:href="@{'/deleteMember/' + ${member.memId}}">회원탈퇴</a>
				</form>
		    </div>
		</section>
</html>