<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="myRevies" id="my-reviews" class="content-tab">
			<h3>나의 리뷰</h3>
			<div class="review-list">
				<div class="review-item" th:each="review : ${myReviews}">
					<a th:href="@{'/recipe/' + ${review.recipe.recipeId}}">
						<h4 th:text="${review.reviewContent}">리뷰 내용</h4>
		                <p th:text="${#temporals.format(review.reviewInsertAt, 'yyyy-MM-dd HH:mm')}">작성일</p>
		                <!-- 리뷰 상세보기 -->
		                <a th:href="@{'/review/' + ${review.reviewId}}" class="review-detail-link">상세보기</a>
					</a>
				</div>
			</div>
		</section>
</html>